<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{%if site.description %}{{ site.description }}{% endif %}{% endif %}">
  
    <link rel="stylesheet" href="{{ "/style/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
  </head>
  <script>
    function openitem(item)
    {
        item.classList.toggle('right_toc-selected');

        var link = item.previousElementSibling.previousElementSibling;
            link.classList.toggle('icon-chevron-right');
            link.classList.toggle('icon-chevron-down');
    }

    function displayMenu()
    {
        var leftcolumn = document.getElementById('leftcolumn');
        var menulist   = document.getElementById('menulist');

        if(menulist.style.display === 'none' || menulist.style.display === '')
        {
          menulist.style.display = 'flex';
          leftcolumn.style.display = 'block';

        }else
        {
          menulist.style.display = 'none';
          leftcolumn.style.display = 'none';
        }

        leftcolumn.style.top = leftcolumn.style.top = menulist.offsetTop + menulist.offsetHeight + 'px';
    }
</script>