

.maincontainer
{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

.maincontent
{
    background-color: aquamarine;
    height: 100%;
    flex: 1;
    
    
}

%row
{
    width: 100%;
    height: $sizerow;
}

%column
{
   width: $sizecolumn;
}

.pad
{
    padding: 8px;
}

.centralcolumn
{
    width: 100%;
    background-color: cadetblue;
   
}

.mainrow
{
    display: flex;
    flex-direction: row;
    width: 100%
}



.maintop
{
    background-color: blueviolet;
    @extend %row;

    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}

.mainbottom
{
    @extend %row;
    background-color: greenyellow;
}



.leftcolumn
{
    @extend %column;
    background-color: cornflowerblue
}

.rightcolumn
{
    @extend %column;
    background-color: grey;
}


