<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    
    
        <div class="maintop">
            
            <div>
                hamburgher
            </div>

            
                   <div>MENU 1</div>
                   <div>MENU 2</div>
                   <div>MENU 3</div>
            

        </div>
            <div class="maincontent mainrow">
                
                    <div class="leftcolumn">
                            <ul>
                                {% for post in site.posts %}
                                    <li>
                                    <a href="{{ post.url }}">{{ post.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                    <div class="centralcolumn">
                            {{ content }}
                    </div>
                    <div class="rightcolumn">
                            <p class="toc_title">Contents</p>
                            {% include toc.html html=content sanitize=false class="right_toc" id="mdtoc" h_min=1 h_max=6 %}
                    </div>

                
            </div>
        <div class="mainbottom ">|</div>
  
        
    

    {% include footer.html %}

  </body>

</html>



