<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    
    <div class="maincontainer">
        <div class="maintop pad">
            
            <div>
                hamburgher
            </div>

            
                   <div>MENU 1</div>
                   <div>MENU 2</div>
                   <div>MENU 3</div>
            

        </div>
            <div class="maincontent mainrow">
                
                    <div class="leftcolumn pad">
                        LEFT
                    </div>
                    <div class="centralcolumn pad">
                            {{ content }}
                    </div>
                    <div class="rightcolumn pad ">
                        RIGHT
                    </div>

                
            </div>
        <div class="mainbottom pad">|</div>
    </div>
        
    

    {% include footer.html %}

  </body>

</html>



