<!DOCTYPE html>
<html>

  {% include head.html %}
  <script>
      function openitem(item)
      {
          item.classList.toggle('right_toc-selected');

          var link = item.previousElementSibling.previousElementSibling;
              link.classList.toggle('icon-chevron-right');
              link.classList.toggle('icon-chevron-down');
      }

      function displayMenu()
      {
          var leftcolumn = document.getElementById('leftcolumn');
          var menulist   = document.getElementById('menulist');

          if(menulist.style.display === 'none' || menulist.style.display === '')
          {
            menulist.style.display = 'flex';
            leftcolumn.style.display = 'block';

          }else
          {
            menulist.style.display = 'none';
            leftcolumn.style.display = 'none';
          }

          leftcolumn.style.top = leftcolumn.style.top = menulist.offsetTop + menulist.offsetHeight + 'px';
      }
  </script>
  <body>

    {% include header.html %}
    
        <div class="maintop">
            <div class="topmenu">

                <div class="menu"><i class="icon-menu1" onclick="displayMenu();"></i></div>
                {% if site.logo %}
                <div class="logo">
                    <img src="{{site.logo}}" 
                    {% if site.logourl %}
                        onclick="location.href='{{site.logourl}}';"
                        class="hand"
                    {% endif %}
                    ></img>
                </div>
                {% endif %}

                <ul id="menulist">
                {% for page in site.pages  %}
                    {% unless page.path contains 'content'  %}
                        {% unless page.path contains 'style'  %}
                            <li
                                {% if page.order %}style="order:{{page.order}};"{% endif %}
                            > <a href="{{ page.url | prepend: site.baseurl }}">
                                {{page.title}}
                                </a>
                            </li>  
                        {% endunless %}          
                    {% endunless %}
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="maincontent mainrow">
                <div class="leftcolumn" id="leftcolumn">
                    <div class="lefindex" >
                        
                            {% assign ptitle = page.title %}
                            {% assign pclass = "right_toc" %}
                            

                            {% for page in site.pages %}
                                {% if page.path contains 'content'  %}
                                
                                {% capture pageid %}tocid{% increment id_counter %}{% endcapture %}
                                
                                <div class="pagecontent"
                                    {% if page.order %}style="order:{{page.order}};"{% endif %}
                                >
                                    <i class="icon-chevron-right" onclick="openitem(this.nextElementSibling.nextElementSibling);"></i>
                                    <a href="{{ page.url | prepend: site.baseurl }}" onclick="openitem(this.nextElementSibling);">{{page.title}}</a>
                                                    
                                    {% assign pagehtml = page.content | markdownify %}
                                    {% assign pageurl = page.url | prepend: site.baseurl %}
                                    {% include toc.html html=pagehtml baseurl=pageurl sanitize=false class=pclass id=pageid h_min=1 h_max=1 %}
                                    
                                    {% if page.title == ptitle %}
                                        <script>openitem(document.getElementById("{{pageid}}"));</script>
                                    {% endif %}
                                    
                                    
                                </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
                <div class="centralcolumn">
                        <h1>{{page.title}}</h1>
                        {{ content }}
                </div>
                <!--
                <div class="rightcolumn">
                        <p class="toc_title">Contents</p>
                        {% include toc.html html=content sanitize=false class="right_toc" id="mdtoc" h_min=1 h_max=6 %}
                </div>
                -->
        </div>


        <div class="mainbottom ">
                {% if site.twitter %}
                    {% include social.html social="twitter" account=site.twitter %}
                {% endif %}

                {% if site.githubuser %}
                    {% include social.html social="github" account=site.githubuser %}
                {% endif %}

                {% if site.facebook %}
                    {% include social.html social="facebook" account=site.facebook %}
                {% endif %}
        </div>
  
        
    

    {% include footer.html %}

  </body>

</html>



